body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: #000000;
}

.botao {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, sans-serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/camera.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #FFFFFF;
}

header p {
    margin-bottom: 2em;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px;
    background-color: #191970;
    color: #FFFFFF;
}

#sobre h2 {
    color: #FFFFFF;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;  
}

#sobre .botao {
    background-color: #F1F1F1;
    color: #1C1C1C;
}

#servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

#fotos h2 {
    margin-bottom: 20px;
}

#fotos img {
    width: 100%;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: black;
}

footer {
    text-align: center;
    padding: 10px;  
    background-color: #191970;
    color: white;
}

footer a {
    text-decoration: none;
    color: #00FFFF;
}